<!DOCTYPE html>
<html>
	<head>
		<title> Download Finished </title>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1> Download Finished </h1>
		<br>
		<div class="finished_container">
			<p id="download_name"> Your download of <%=data.name %> has finished </p>
		</div>
	</body>
</html>
