<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pi-media interface</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="title_container">
        <h1>Data Center Interface</h1>
	<h3> What would you like to do today? </h3>
    </div>
    <div class="options_container">
	    <ul class="option_list">
		    <li><a href="/movie_search">Search for Movie </a></li>
		    <li><a href="/underconstruction">Picture Index </a></li>
	    </ul>
    </div>
  </body>
</html>
