<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pi-media interface</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="container">
        <h1>Search for Movie</h1>
      <fieldset>
        <form action="/search" method="post">
          <input name="search" type="text" class="ghost-input" placeholder="Search for torrent" required>
		  <input type="submit" class="ghost-button" value="Search Torrent" onclick='document.getElementById("wait").innerHTML = "Fetching Results... Please wait"'>
        </form>
      </fieldset>
	  <p id='wait'> </p>
    </div >
	<br>
	<br>
	<div class="stats_container">
		<h1> Server Statistics </h1>
		<table border = 1 style="center">
			<tr>
				<th>Used Space on Drive</th>
				<td><%= data.space %>%</td>
			</tr>
			<tr> 
				<th>Times used since restart</th>
				<td><%= data.timesUsed %></td>
			</tr>
			<tr> 
				<th> Version </th>
				<td> 1.2.1 </td>
			</tr>
		</table>
	</div>
  </body>
</html>
